adal
azure-common
azure-core
azure-graphrbac
azure-mgmt-authorization
azure-mgmt-containerregistry
azure-mgmt-core
azure-mgmt-keyvault
azure-mgmt-resource
azure-mgmt-storage
azureml
azureml-core
backports.tempfile
backports.weakref
certifi
cffi
chardet
click
contextlib2
cryptography
cycler
Cython
docker
idna
isodate
jeepney
jmespath
joblib
jsonpickle
kaggle
kiwisolver
kornia
matplotlib
msrest
msrestazure
ndg-httpsclient
numpy
oauthlib
pandas
pathspec
Pillow
pyasn1
pycocotools
pycparser
PyJWT
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python-slugify
pytz
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
SecretStorage
six
sklearn
text-unidecode
threadpoolctl
torch
torchvision
tqdm
typing-extensions
urllib3
websocket-client
