adal
applicationinsights
azure-common
azure-core
azure-graphrbac
azure-identity
azure-mgmt-authorization
azure-mgmt-containerregistry
azure-mgmt-core
azure-mgmt-keyvault
azure-mgmt-resource
azure-mgmt-storage
azureml
azureml-automl-core
azureml-core
azureml-dataprep
azureml-dataprep-native
azureml-dataprep-rslex
azureml-dataset-runtime
azureml-pipeline
azureml-pipeline-core
azureml-pipeline-steps
azureml-sdk
azureml-telemetry
azureml-train
azureml-train-automl-client
azureml-train-core
azureml-train-restclients-hyperdrive
backports.tempfile
backports.weakref
certifi
cffi
chardet
cloudpickle
contextlib2
cryptography
cycler
Cython
dataclasses
distro
docker
dotnetcore2
fusepy
idna
importlib-metadata
isodate
jeepney
jmespath
jsonpickle
kiwisolver
matplotlib
msal
msal-extensions
msrest
msrestazure
ndg-httpsclient
numpy
oauthlib
opencv-python
pandas
pathspec
Pillow
pkg-resources
portalocker
pyarrow
pyasn1
pycparser
PyJWT
pyOpenSSL
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
ruamel.yaml
ruamel.yaml.clib
SecretStorage
semantic-version
setuptools-rust
six
toml
torch
torchvision
typing-extensions
urllib3
websocket-client
zipp
